body{
    background-color: #232323;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif';
}

h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
}

#colorInfo {
    font-weight: 700;
    font-size: 150%;
}

.menuList {
    text-align: center;
    margin: 0 auto;
    background: white;
    height: 30px;
}

#messageInfo{
    width: 161px;
    display: inline-block;
    font-size: 10px;
}

button {
    border: none;
    background: none;
    letter-spacing: 1px;
    color: steelblue;
    height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

button:hover {
    background:  rgb(41, 41, 109);
    color: white;
}

.container {
    margin: 10px auto;
    width: 300px;
}

.square {
    margin: 2.5%;
    background: steelblue;
    width: 20%;
    padding-bottom: 20%;
    float: left;
    border-radius: 25%;
}

.infoBox {
    width: 100%;
    background: white;
    padding-bottom: 5px ;
    text-align: center;
    font-size: 24px;
    height: 24px;
}

.selected {
    background: rgb(41, 41, 109);
    color: white;
    outline: none;
}

footer {
    background: #232323;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-top: 60%;
}

footer .copyright {
    padding: 15px 0;
}

a {
    color: white;
    text-decoration-style: none;
}

@media only screen and (min-width: 768px){
    h1 {
        font-size: 36px;
    }

    #messageInfo{
        width: 400px;
        font-size: 20px;
    }
    
    button {
        font-size: 20px;
    }

    .container {
        margin: 10px auto;
        width: 600px;
    }
    
    .infoBox {
        font-size: 32px;
        height: 36px;
    }

    footer {
        margin-top: 58%;
    }
}

@media only screen and (min-width: 1024px){
    h1 {
        font-size: normal;
    }

    #colorInfo {
        font-weight: 700;
        font-size: 200%;
    }

    .menuList {
        height: 60px;
    }

    #messageInfo{
        width: 400px;
        font-size: 20px;
    }

    button {
        font-size: 24px;
    }

    .container {
        width: 600px;
    }

    .infoBox {
        font-size: 28px;
        height: 32px;
    }

    footer {
        font-size: 24px;
        margin-top: 48%;
    }
}

@media only screen and (min-width: 1440px){
    h1 {
        font-size: normal;
    }

    #colorInfo {
        font-weight: 700;
        font-size: 200%;
    }

    .menuList {
        height: 60px;
    }

    #messageInfo{
        width: 400px;
        font-size: 22px;
    }

    button {
        font-size: 24px;
    }

    .container {
        width: 600px;
    }

    .infoBox {
        font-size: 28px;
        height: 32px;
    }

    footer {
        margin-top: 32%;
    }
}